/* Custom rich text style */

* {
  color: var(--kungalgame-font-color-3);
}

p {
  margin: 17px 0;
}

blockquote {
  margin: 17px 0;
  padding: 10px;
  font-size: 18px;
  border-left: 4px solid var(--kungalgame-blue-4);
  background-color: var(--kungalgame-trans-blue-0);

  p {
    margin: 0;
  }
}

pre {
  margin: 17px 0;
  border: 1px solid var(--kungalgame-blue-4);
  border-radius: 5px;
  padding: 17px;
  background-color: var(--kungalgame-white);
  position: relative;
}

a {
  cursor: pointer;
  font-style: oblique;
  font-weight: bold;
  color: var(--kungalgame-blue-4);

  &:hover {
    text-decoration: underline;
  }
}

.tableWrapper {
  position: relative;
  overflow-x: auto;
}

table {
  border: 1px solid var(--kungalgame-blue-1);
  border-radius: 5px;
  white-space: nowrap;
}

th,
td {
  border: 1px solid var(--kungalgame-blue-1);
  padding: 3px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--kungalgame-trans-blue-1);
}

ul li,
ol li {
  color: var(--kungalgame-blue-4);
}
